@font-face {
  font-family: "leaves";
  src: url(leaves_and_ground.ttf);
}
a:link {
  color: black;
  text-decoration: none;
}

.nav {
  display: flex;
  background-color: orange;
  border-radius: 2em;
  justify-content: space-between;
  align-items: center;
  margin-bottom: center;
  height: 80px;
  font-family: "leaves";
  text-decoration: none;
  font-size: 3rem;
}
.item_1 {
  margin-left: 5rem;
  width: 100%;
  justify-content: space-between;
  display: flex;
  margin-right: 5em;
}

.item_1:hover {
  color: white;
}

.item_2:hover {
  color: white;
}

.item_3:hover {
  color: white;
}

.item_3 {
  margin-right: 2rem;
}
.button {
  height: 5rem;
  display: none;
  align-items: left;
}

.menu_items {
  display: none;
}

.item-1 {
  background-color: orange;
  border-radius: 5rem;
  width: 60px;
}
@media (max-width: 600px) {
  .button {
    display: block;
  }
  .menu_items {
    display: flex;
    flex-direction: column;
  }

  #nav {
    display: none;
  }
}
ul {
  display: none;
}

.hidden {
  display: none !important;
  border: orange;
}
